
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Вход{% endblock%}

{% block body %}
    <header>
        <h1>Введите логин/параль для входа</h1>
    </header>

    {{ form_start(form, { 'action': path('BloggerBlogBundle_signin'), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.psw) }}
    {{ form_row(form) }}

    <input type="submit" value="Вход" />

{% endblock %}
